// Shimmer CSS
/* Define the shimmer animation for images */
@keyframes shimmer-image {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  /* Define the shimmer animation for text */
  @keyframes shimmer-text {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  /* Define the shimmer animation for small text */
  @keyframes shimmer-text-small {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  @keyframes shimmer-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Style for the shimmer container */
  .shimmer-container {
    margin: 30px 0;
  }
  
  /* Style for the shimmer title */
  .shimmer-title {
    margin-bottom: 30px;
    width: 200px;
    height: 20px; 
    background-color: #f6f7f8;
    animation: shimmer-text 1.5s infinite; 
  }

  .filter-pane{
    display: flex;
    gap: 10px;
    h3{
        margin-bottom: 30px;
        width: 200px;
        height: 20px;
        border-radius: 20px;
        background-color: #f6f7f8;
        animation: shimmer-text 1.5s infinite;
    }
  }

  
  /* Style for the shimmer cards */
  .shimmer-cards {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
  }
  
  /* Style for the shimmer card */
  .shimmer-card {
    width: 200px;
    margin-right: 15px; 
    margin-bottom: 15px;
    background-color: #fff; 
    border-radius: 8px;
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-right: 50px;
  }

  .shimmer-card-circle {
    width: 150px; 
    background-color: #fff; 
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
  }
  
  /* Style for the shimmer image */
  .shimmer-image {
    width: 100%; 
    height: 150px; 
    background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
    background-size: 1000px 100%;
    animation: shimmer-image 1.5s infinite; 
  }
  
  /* Style for the shimmer text */
  .shimmer-text {
    width: 100%; 
    height: 10px; 
    background-color: #f6f7f8; 
    margin-top: 10px; 
    animation: shimmer-text 1.5s infinite reverse; 
  }
  
  /* Style for the small shimmer text */
  .shimmer-text.small {
    height: 10px;
    margin-top: 5px; 
    animation: shimmer-text-small 1.5s infinite reverse; 
  }
  
/* Style for the shimmer circle card */
.shimmer-circle {
    width: 140px; 
    height: 140px; 
    background-color: #f6f7f8; 
    border-radius: 50%;
    animation: shimmer-circle 1.5s infinite linear; 
    position: relative;
    overflow: hidden;
  }
  
  .shimmer-circle::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(to right, transparent 0%, #fff 25%, transparent 50%);
    border-radius: 50%;
    animation: shimmer-circle 1.5s infinite linear;
  }
  
    /* Style for the shimmer card */
    .shimmer-tab-card {
        width: 200px;
        margin-right: 15px; 
        margin-bottom: 15px;
        background-color: #f6f7f8; 
        border-radius: 8px;
        padding: 10px; 
        margin-right: 50px;
        height: 40px;
    }

  .shimmer-tab {
    width: 100%; 
    height: 40px; 
    margin-top: 10px; 
    animation: shimmer-text 1.5s infinite reverse; 
  }

  .shimmer-row {
    display: flex;
  }
  